* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(255, 255, 255);
}
.container-fluid {
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 1000px;
  display: flex;
}
.purple-bg {
  width: 300px;
  height: 600px;
  background: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-radius: 150px;
  margin-top: -100px;
  margin-left: -150px;
}
.phone-container {
  width: 300px;
  height: 650px;
  background-color: hsl(270, 20%, 96%);
  border-radius: 40px;
  margin-left: -130px;
  margin-top: 50px;
  border: 10px rgb(255, 255, 255) solid;
  box-shadow: 0 5px 40px black;
}
.speaker {
  width: 180px;
  height: 25px;
  background-color: rgb(255, 255, 255);
  margin-left: 50px;
  border-radius: 40px;
  margin-top: -73px;
}
.username-container {
  width: 280px;
  height: 70px;
  background: linear-gradient(
    to left,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  margin-left: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 1px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.username-container img {
  width: 40px;
  border-radius: 50px;
  border: 2px white solid;
  margin-bottom: -20px;
}
.username-container-text {
  margin-right: 80px;
  margin-bottom: 15px;
}
.username-container-text h6 {
  margin-bottom: -0;
  color: white;
}
.username-container-text p {
  margin-bottom: -45px;
  font-size: 10px;
  color: white;
}
i {
  color: white;
  margin-bottom: -15px;
}
.chat1 {
  width: 200px;
  height: 50px;
  background-color: hsl(276, 100%, 91%);
  margin-top: 60px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  margin-left: 10px;
  padding: 10px 10px;
  font-size: 12px;
  color: hsl(276, 55%, 52%);
}
.chat2 {
  width: 200px;
  height: 50px;
  background-color: hsl(276, 100%, 91%);
  margin-top: 10px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  margin-left: 10px;
  padding: 10px 10px;
  font-size: 12px;
  color: hsl(276, 55%, 52%);
}
.dog-imgs {
  display: flex;
  justify-content: space-between;
}
.dog-imgs img {
  width: 40px;
  margin-left: 50px;
  border-radius: 10px;
  margin-top: 10px;

  margin-right: 30px;
  margin-left: 40px;
}
.dog3 {
  margin-left: -60px;
}
.dog2 {
  margin-left: -60px;
}
.dog1 {
  margin-left: 90px;
}
.chat3 {
  width: 200px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  margin-left: 70px;
  padding: 10px 10px;
  font-size: 12px;
}
.chat4 {
  width: 200px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  margin-left: 70px;

  padding: 10px 10px;
  font-size: 12px;
}
.chat5 {
  width: 200px;
  height: 65px;
  background-color: hsl(276, 100%, 91%);
  margin-top: 10px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  margin-left: 10px;
  padding: 10px 10px;
  font-size: 12px;
  color: hsl(276, 55%, 52%);
}
.chat6 {
  width: 200px;
  height: 50px;
  background: linear-gradient(
    to right,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  margin-top: 10px;
  border-radius: 10px;
  border-bottom-left-radius: 2px;
  margin-left: 10px;
  padding: 10px 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat6 i {
  font-size: 30px;
  margin: 10px 5px;
}
.chat6 p {
  color: white;
  margin: 10px;
}
.chat6 h4 {
  color: white;
  margin-top: 5px;
}
.chat7 {
  width: 200px;
  height: 50px;
  background: linear-gradient(
    to right,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  margin-top: 10px;
  border-radius: 10px;
  border-bottom-left-radius: 2px;
  margin-left: 10px;
  padding: 10px 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat7 i {
  font-size: 30px;
  margin: 10px 5px;
}
.chat7 p {
  color: white;
  margin-top: 10px;
  margin-left: -20px;
}
.chat7 h4 {
  color: white;
  margin-top: 5px;
}
.chat-box {
  width: 250px;
  height: 50px;
  background-color: white;
  border-radius: 50px;
  margin-top: 20px;
  margin-left: 15px;
  padding: 6px 10px;
  color: hsl(270, 7%, 64%);
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat-box i {
  font-size: 30px;
  color: black;
  margin-left: 120px;
  margin-top: 10px;
}

h3 {
  margin-top: 140px;
  margin-left: 70px;
}
.align {
  margin-top: -400px;
}
.last-text {
  margin: 20px 70px;
  color: hsl(270, 7%, 64%);
}

@media screen and (max-width: 375px) {
}
@media screen and (min-width: 680px) {
  .purple-bg {
    width: 650px;
    height: 1100px;
    background: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 250px;
    margin-top: -300px;
    margin-left: -400px;
  }

  .phone-container {
    width: 300px;
    height: 650px;
    background-color: hsl(270, 20%, 96%);
    border-radius: 40px;
    margin-left: -80px;
    margin-top: 150px;
    border: 10px rgb(255, 255, 255) solid;
    box-shadow: 0 5px 40px black;
  }
  .align {
    margin-top: -300px;
  }
  .last-text {
    margin: 20px 70px;
    color: hsl(270, 7%, 64%);
  }
  /* .last-text {
    margin: 20px 70px;
    color: hsl(270, 7%, 64%);
  }
  .align {
    position: absolute;
    top: 590px;
    left: 450px;
  } */
}
@media screen and (min-width: 780px) {
  .purple-bg {
    width: 650px;
    height: 1100px;
    background: linear-gradient(hsl(293, 100%, 63%), hwb(264 22% 0%));
    border-radius: 250px;
    margin-top: -300px;
    margin-left: -550px;
  }

  .phone-container {
    width: 300px;
    height: 650px;
    background-color: hsl(270, 20%, 96%);
    border-radius: 40px;
    margin-left: -80px;
    margin-top: 150px;
    border: 10px rgb(255, 255, 255) solid;
    box-shadow: 0 5px 40px black;
  }
  .last-text {
    margin: 20px 70px;
    color: hsl(270, 7%, 64%);
  }
  .align {
    position: absolute;
    top: 590px;
    left: 500px;
  }
}
@media screen and (min-width: 880px) {
  .purple-bg {
    width: 650px;
    height: 1100px;
    background: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 250px;
    margin-top: -300px;
    margin-left: -550px;
  }

  .phone-container {
    width: 300px;
    height: 650px;
    background-color: hsl(270, 20%, 96%);
    border-radius: 40px;
    margin-left: -80px;
    margin-top: 150px;
    border: 10px rgb(255, 255, 255) solid;
    box-shadow: 0 5px 40px black;
  }
  .last-text {
    margin: 20px 70px;
    color: hsl(270, 7%, 64%);
  }
  .align {
    position: absolute;
    top: 590px;
    left: 550px;
  }
}
@media screen and (min-width: 980px) {
  .purple-bg {
    width: 600px;
    height: 1100px;
    background: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 250px;
    margin-top: -300px;
    margin-left: -550px;
  }

  .phone-container {
    width: 300px;
    height: 650px;
    background-color: hsl(270, 20%, 96%);
    border-radius: 40px;
    margin-left: -80px;
    margin-top: 150px;
    border: 10px rgb(255, 255, 255) solid;
    box-shadow: 0 5px 40px black;
  }
  .last-text {
    margin: 20px 70px;
    color: hsl(270, 7%, 64%);
  }
  .align {
    position: absolute;
    top: 590px;
    left: 550px;
  }
}
@media screen and (min-width: 1080px) {
  .purple-bg {
    width: 550px;
    height: 1100px;
    background: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 250px;
    margin-top: -300px;
    margin-left: -550px;
  }

  .phone-container {
    width: 300px;
    height: 650px;
    background-color: hsl(270, 20%, 96%);
    border-radius: 40px;
    margin-left: -80px;
    margin-top: 150px;

    border: 10px rgb(255, 255, 255) solid;
    box-shadow: 0 5px 40px black;
  }
  .last-text {
    margin: 20px 70px;
    color: hsl(270, 7%, 64%);
  }
  .align {
    position: absolute;
    top: 590px;
    left: 550px;
  }
}
@media screen and (min-width: 1180px) {
  .purple-bg {
    width: 550px;
    height: 1100px;
    background: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 250px;
    margin-top: -300px;
    margin-left: -550px;
  }

  .phone-container {
    width: 300px;
    height: 650px;
    background-color: hsl(270, 20%, 96%);
    border-radius: 40px;
    margin-left: -80px;
    margin-top: 150px;

    border: 10px rgb(255, 255, 255) solid;
    box-shadow: 0 5px 40px black;
  }
  .last-text {
    margin: 20px 70px;
    color: hsl(270, 7%, 64%);
  }
  .align {
    position: absolute;
    top: 590px;
    left: 650px;
  }
}
@media screen and (min-width: 1280px) {
  .purple-bg {
    width: 500px;
    height: 1100px;
    background: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 250px;
    margin-top: -300px;
    margin-left: -550px;
  }

  .phone-container {
    width: 300px;
    height: 650px;
    background-color: hsl(270, 20%, 96%);
    border-radius: 40px;
    margin-left: -50px;
    margin-top: 150px;
    border: 10px rgb(255, 255, 255) solid;
    box-shadow: 0 5px 40px black;
  }
  .last-text {
    margin: 20px 70px;
    color: hsl(270, 7%, 64%);
  }
  .align {
    position: absolute;
    top: 590px;
    left: 600px;
  }
}
